// color palatte
$WHITE_LILAC: #F0EEF2;
$WHITE: #FFFFFF;
$WHITE_10: rgba($WHITE, 0.1);
$MEDIUM_SLATE_BLUE: #7E5AF4;
$PURPLE_HEART: #5E37DF;
$PURPLE_HEART_80: rgba(#5E37DF, 0.8);
$BLACK: #000000;
$BLACK_60: rgba(#000000, 0.6);
$BLACK_40: rgba(#000000, 0.4);

$GREEN: #087E15;
$ROYAL_BLUE: #405DE6;
$FIRE_ENGINE_RED: #E31B1B;

$HONEYDEW: #E5FDEA;
$SHAMROCK: #44E28D;
$ALABASTER: #F5F4EB;
$MCKENZIE: #8F7536;
$ALICE_BLUE: #E5EFFD;
$ROYAL_BLUE: #405DE6;
$SUNSET: #BE4B4B;
$MELON: #FCABAB;
$MUSTARD: #FFDD55;
$EMERALD: #54CC61;

// color palettle
$BLACK_RUSSIAN: #09080C;
$NERO: #1C1C1C;
$CHARCOAL: #4A4A4A;
$DIM_GRAY: #6D6D6D;
$ALUMINIUM: #8B8D93;
$GAINSBORO: #E6E6E6;
$SOLITUDE: #E8E9ED;

$BLUE_HAZE: #BEB9CF;
$WAIKAWA_GREY: #5B649D;
$JON: #423C3F;

// status colors
$SUCCESS: #4BB543;
$WARNING: #FFCC00;
$ERROR: #CC3300;

$JADE: #00AD6F;
$GOLDEN_POPPY: #F8C701;
$DODGER_BLUE: #0066FF;

// lifecycle colors
$UPCOMING: #405DE6;
$POSTPONED: #007581;
$LIVE: #E42A2F;
$OVER: #397D54;
$OVER_DRAW: #526459;
$OVER_FORFEITED: #04C197;
$DELETED: #412D2D;
$UNKNOWN: #EB366D;
$ADVANTAGE: #FF8D36;
$CANCELLED: #C09F1E;
$DEFAULT: #756F61;
$SIDE_MENU_BG : rgb(16,27,63);
$SIDE_MENU_TEXT : rgb(95,105,131);
$BLUE_COLOR : rgb(21, 68, 225);